* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    line-height: 1.6;
    background-color: #f3efef;
    scroll-behavior: smooth;
}

/* nav {
    list-style-type: none;
} */

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.top-nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: sticky;
    top: 0;
    overflow: hidden;
    background: #f8fafe;
}

.top-nav a {
    color: rgb(102, 177, 161);
    text-decoration: none;
}

.navbar-list {
    list-style: none;
}

.icons {
    display: flex;

    justify-content: center;
}

.fa-brands {
    margin: 5px;
    color: rgb(102, 177, 161);
}

.fa-solid {
    color: rgb(102, 177, 161);
}

.fa-arrow-down {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
    border: none;
    color: rgb(102, 177, 161);
    scroll-behavior: smooth;
}


.container {
    width: 100%;
    max-width: 1400px;
    min-width: 300px;
    border-radius: 5px;
    margin: 150px auto;
    padding: 70px 60px;
    background: #f8fafe;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* .cards  */
.card-1 {
    background-color: #ccc;
    /* max-width: 300px; */

}



/* card -1 */

.card {
    align-items: center;
    flex: 1;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    /* background-color: #ffff; */

    /* box-shadow: 4px 4px 6px rgba(0,0,0,0.1); */

}


.about-me {
    display: flex;
    gap: 5px;

}


.card-1 h2 {
    text-transform: uppercase;
    color: rgb(102, 177, 161);
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.card-1 .role {
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    /* border-right: 1px solid grey; */
}


.card-1 .position {
    margin-bottom: 20px;

}

.card-1 .hobbies {
    margin-bottom: 20px;
}


/* img */

.old-image {

    width: 200px;
    object-fit: contain;
    border-radius: 50%;
}

img:hover {
    box-shadow: 0px 6px 6px rgb(102, 177, 161);
}

/* about-me */



/* card-2 */
.card-2 {

    margin: 0px 70px;
    /* gap: 30px; */
}


.card-3 {
    margin: 0px 70px;
}
'
.card-2 h2 {
    text-transform: uppercase;
    color: rgb(102, 177, 161);
    font-size: 20px;
}


.card-2 .role {
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
}


.card-2 .position-blink {
    font-weight: 500;
    margin-bottom: 20px;

}

.card-2 .role-blink {
    font-weight: 300;
    margin-bottom: 20px;

    /* border-right: 1px solid grey; */
}

.card-2 .diploma {

    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-2 .diploma-type {
    font-weight: 500;
    margin-top: 20px;
}





/* card-3 */


.card-3 h2 {
    text-transform: uppercase;
    color: rgb(102, 177, 161);
    /* margin-bottom: 20px; */
    font-size: 20px;

}

.card-3 h3 {

    font-weight: 600;
    margin-top: 20px;
    font-size: 18px;


}

.card-3 .list {
    margin-top: 20px;

}

.card-3 .list2 {
    margin-top: 20px;
}

.education-diploma {
    margin-top: 50px;
}


/* second section of the page */

.container-2 {
    width: 100%;
    max-width: 1100px;
    min-width: 300px;
    border-radius: 5px;
    /* margin: 150px auto; */
    /* margin-bottom: 70px; */
    padding: 70px 60px;
    background: #f8fafe;

}

.card-4 img {
    object-fit: contain;
    width: 500px;
    height: 300px;
}



.work {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;


    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

/* images */
.work img {
    max-width: 400px;
    height: 300px;
    object-fit: contain;
}

.weatherapp {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;

}

/* .weather-text {
    transition: .5s ease;
    opacity:0;
    position: relative;
    top: 0;
    left:0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
} */

.work img:hover {
    opacity: 0.3;
}

.work .weather-text:hover {
    opacity: 1;
}

/* .text {
    background-color: #ccc;
    color:#f8fafe;
    font-size: 16px;
    padding: 16px 32px;
    position: absolute;
}
 */

.social-icons {
    width: 100%;
    max-width: 1100px;
    min-width: 300px;
    margin-top: 50px;
    border-radius: 5px;
    /* margin: 150px auto; */
    /* margin-bottom: 70px; */
    padding: 70px 60px;
    background: #f8fafe;

}